header {
   background-color: rosybrown;
   text-align: center;
   padding: 2em 0.5em; 
   h1 {
       color: #fff;
       font-size: 1.3em;
       font-weight: 500;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
}